/* .education-description {
  margin-top: 42px;
} */

.education-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
}

.textarea-education {
  margin-bottom: 53px;
}

.textarea-education textarea {
  width: 798px;
  height: 179px;
  background: #ffffff;
  border-radius: 4px;
  outline: none;
  padding-top: 13px;
  padding-left: 16px;
}

.textarea-education p {
  font-weight: 700;
}

.education-textarea {
  border: 1px solid #bcbcbc;
}

.textarea-invalid-logo-education {
  left: 812px;
  top: 70px;
}
