.full-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.image-paragraph {
  display: flex;
  align-items: center;
  margin-bottom: 49px;
  position: relative;
}

.image-paragraph p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #1a1a1a;
  margin-right: 19px;
  margin-top: 0;
  margin-bottom: 0;
}

.upload-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 12px;
  width: 107px;
  height: 27px;
  background: #0e80bf;
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-right: 20px;
}

.about-me {
  width: 798px;
  height: 103px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  outline: none;
  padding-top: 13px;
  padding-left: 16px;
}

.about-me:focus {
  border: 2px solid #bcbcbc;
}

.about-me p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
}

.about-me::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}

.textarea {
  margin-bottom: 33px;
}

.textarea p {
  font-weight: 700;
}

.next-page-button {
  margin-top: 160px;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-end;
}

.first-next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 60px;
  width: 151px;
  height: 48px;
  background: #6b40e3;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #ffffff;
  cursor: pointer;
}

.first-next:hover {
  background-color: #7949ff;
}

.first-next:focus {
  background-color: #512faf;
}

/* Errors */

.success-logo {
  margin-left: 10px;
  color: #98e37e;
  width: 16.5px;
  height: 16.5px;
}

.image-logo {
  position: absolute;
  left: 380px;
}
