.calendar-input-container {
  display: flex;

  flex-direction: column;
}

.calendar-input-container label {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.calendar-input-label {
  color: #000000;
}

.calendar-input-container input {
  width: 371px;
  height: 48px;
  background: #ffffff;
  /* border: 1px solid #bcbcbc; */
  border-radius: 4px;
  outline: none;
  padding: 13px 16px 14px 16px;
}

.calendar-input-default {
  border: 1px solid #bcbcbc;
}

.calendar-input-wrap {
  position: relative;
  margin-top: 8px;
}

.calendar-invalid-logo {
  left: 385px;
  top: 13px;
}

/* Errors */

.calendar-input-error {
  border: 1px solid #ef5050;
}

.calendar-input-correct {
  border: 1px solid #98e37e;
}

input[type="date"].calendar-input-default-color::-webkit-datetime-edit-text,
input[type="date"].calendar-input-default-color::-webkit-datetime-edit-month-field,
input[type="date"].calendar-input-default-color::-webkit-datetime-edit-day-field,
input[type="date"].calendar-input-default-color::-webkit-datetime-edit-year-field {
  color: #000000;
  /* color: #f8f9fa; */
}

input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: rgba(0, 0, 0, 0.6);
}
