.calendar-input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
  margin-bottom: 33px;
}

.experience-hr {
  border: 1px solid #c1c1c1;
}

.experience-description-text-form {
  border: 1px solid #bcbcbc;
}

.experience-description-text-form:focus {
  border: 2px solid #bcbcbc;
}

.textarea textarea {
  width: 798px;
  height: 103px;
  background: #ffffff;
  border-radius: 4px;
  outline: none;
  padding-top: 13px;
  padding-left: 16px;
}

/* Errors */

.experience-description-text-error {
  border: 1px solid #ef5050;
}
.experience-description-text-correct {
  border: 1px solid #98e37e;
}
