.info-experience-resume-wrap {
  width: 100%;
  background-color: #f9f9f9;
}

.experience-wrapper {
  display: flex;
  min-height: 100vh;
}

.experience-card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}

.experience {
  display: flex;
  width: 798px;
  justify-content: center;
  margin-left: 150px;
  flex-direction: column;
  margin-top: 77px;
}
