.degree-component-wrap {
  display: flex;
  flex-direction: column;
}

.degree-component-wrap label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  font-family: HelveticaNeue;
  color: #000000;
  margin-bottom: 8px;
}

.dropdown {
  position: relative;
  width: 371px;
  height: 48px;
  background: #ffffff;
  border-radius: 4px;
}

.dropdown-border {
  border: 1px solid #bcbcbc;
}

.dropdown-content {
  background-color: #fff;
  color: #333;
  filter: drop-shadow(0px 16px 28px rgba(0, 0, 0, 0.24));
  width: 370px;
  position: absolute;
  top: 3rem;
  left: 0;
  border-radius: 4px;
  z-index: 4;
  height: 369px;
  /* z-index: 1; */
  /* overflow: scroll; */
}

.dropdown-item {
  height: 41px;
  cursor: pointer;
  transition: all 0.2s;

  background-color: transparent;
  border: none;
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  margin-left: 16px;
  color: #1a1a1a;
}

.dropdown-content div:hover {
  background-color: #c3dcee;
}

.dropdown-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  margin: 13px 16px 14px 16px;
}

.light-color {
  color: rgba(0, 0, 0, 0.6);
}

.dark-color {
  color: #000000;
}

.dropdown-btn p {
  margin: 0;
}

.arrows {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  height: 3px;
  width: 6px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 5px;
}

/* Errors */

.dropdown-border-error {
  border: 1px solid #ef5050;
}
.dropdown-border-correct {
  border: 1px solid #98e37e;
}
