.education-resume-compnent h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1a;
  margin-top: 15px;
  margin-bottom: 0;
}

.education-dates {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 7px;
  margin-bottom: 16px;
  color: #919191;
}

.education-description-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  margin: 0;
}
