.footer {
  width: 667px;
  /* justify-content: space-between; */
  align-items: center;
  display: flex;
  margin-left: 80px;
  margin-top: 68px;
  margin-bottom: 44px;
}

.footer img {
  width: 42px;
  height: 42px;
}
