.personal-resume {
  width: 667px;
  display: flex;
}

.person-information {
  width: 432px;
}

.person-information h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 42px;
  color: #f93b1d;
  margin: 0;
  font-variant: small-caps;
}

.email {
  display: flex;

  align-items: center;
  margin-top: 17px;
}

.phone {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.email p,
.phone p {
  margin: 0;
  margin-left: 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1a1a1a;
}

.email svg,
.phone svg {
  height: 16.67px;
  width: 16.67px;
  color: #898989;
}

.phone {
  margin-bottom: 34px;
}

.about-me-text {
  margin-top: 34px;
}

.about-me-text h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 22px;
  color: #f93b1d;
  margin: 0;
  font-variant: small-caps;
}

.about-me-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 15px;
  color: #000000;
  margin-bottom: 0;
  width: 432px;
  overflow-wrap: break-word;
}

.person-image-container {
  display: flex;
}

.person-image {
  width: 246px;
  height: 246px;
  object-fit: contain;
  background: #d9d9d9;
  border-radius: 133px;
}

.resume-wrap {
  display: flex;
  flex-direction: column;
  width: 667px;
  align-items: center;
  margin-left: 80px;
  margin-top: 68px;
}

.experience-resume h3,
.education-resume h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 22px;
  color: #f93b1d;
  margin: 24px 0 0 0;
  font-variant: small-caps;
}

.resume-hr,
.education-hr {
  width: 662px;
  height: 0px;
  border: 1px solid #c8c8c8;
  margin-top: 47px;
}
