.first-name {
  display: flex;

  flex-direction: column;
}

.first-name label {
  /* margin-top: 77px; */
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.first-name input {
  width: 371px;
  height: 48px;

  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  margin-top: 8px;
  outline: none;
}

.first-name input:focus {
  border: 2px solid #bcbcbc;
}

.first-name input::placeholder {
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}

.first-name p {
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #2e2e2e;
  margin-bottom: 0;
}
